.body{
  font-size: smaller;
  
}

.logodiv{
  height: 120px;
  margin: 5px 0 10px 0;
}
.logoImage {
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main {
  display: grid;
  grid-template-columns: 36.5% 64.5%;
  padding-left: 20px;
  padding-right: 20px;
}
.sectiondiv {
  display: inline-grid;

}
.sectionimg {
  height: 420px;
  width: 850px;
}
.awardimg {
  height: 600px;
  margin-left: 20px;
  padding-left: 10px;
}

.summary{
  padding-left: 20px;
  padding-right: 20px;
}
.summaryimg {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.articlediv {
  text-align: center;
  margin: 10px 0 10px 0;
}

.footerdiv {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: red;
  height: 115px;
  margin-top: 20px;
}
.footerdiv-child {
  margin: 40px;
  display: flex;
}
.footerimg {
  height: 30px;
 
}


@media screen and (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sectiondiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sectionimg {
    height: 240px;
    width: 450px;

  }
  .awardimg {
    height: 350px;

    
  }
}

@media screen and (max-width: 940px) {
  .summaryimg {
    height: 260px;
    width: 540px;
  }
}

@media screen and (max-width: 600px) {
  .sectionimg {
    height: 180px;
    width: 300px;

  }
  .awardimg {
    height: 350px;

    
  }
  .summaryimg {
    height: 160px;
    width: 340px;

  }
  .footerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerdiv-child {
    font-size: smaller;
    height: 35px;
    margin: 0;
  }
  .footerimg {
    height: 15px;
   
  }
}